@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Book.ttf") format("truetype");
}
body {
  font-family: "Circular Std";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-text {
  display: flex;
  align-items: center;
}
.navbar-text > h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 25.3px;
}
