@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Book.ttf") format("truetype");
}
body {
  font-family: "Circular Std";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto 2fr auto;
  height: 80px;
  padding-left: 5rem;
  padding-right: 5rem;
}
.navbar-logo {
  align-content: center;
}
.nav-img {
  display: flex;
  align-items: center;
}
.navbar-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-text > h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 25.3px;
}
.navbar-right-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.navbar-right-menu-icon {
  display: flex;
}
.navbar-right-menu-icon {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 38px;
  cursor: pointer;
}
.navbar-right-menu-icon svg {
  max-width: 30px;
  position: absolute;
  top: 2px;
  left: 0;
  transition: all 0.5s ease;
}
.navbar-right-menu-icon .three {
  transform-origin: right center;
  transform: scaleX(0);
  opacity: 0;
}
.navbar-right-menu-icon:hover .two {
  opacity: 1;
}
.navbar-right-menu-icon:hover .three {
  transform: scaleX(1);
  opacity: 1;
}
.navbar-right-menu > a {
  text-decoration: none;
  color: white;
  font-size: 1.25vw;
  padding-top: 15px;
}

/* Hero */
.hero {
  height: 100vh;
  padding-top: 18px;
}
.hero-container {
  display: flex;
  padding: 0 5rem;
  height: 100vh;
  align-items: flex-start;
  overflow: hidden;
}

/* LHS */
.hero-text {
  width: 55%;
  padding: 5vw 6vw 4vw 0;
}
.hero-title {
  font-size: 3.2vw;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
.title_first_line {
  display: block;
}
.sub_title {
  display: block;
  font-size: 3.4vw;
}
.bold_title {
  font-size: 5.3vw;
}
.text {
  font-size: 1.23vw;
  letter-spacing: 0;
  max-width: 39vw;
  margin: 2vw 0px;
  line-height: 150%;
}
.talk_btn {
  text-transform: uppercase;
  background: #ffc001;
  font-size: 1.6vw;
  height: 5.138vw;
  padding-inline: 2vw;
  letter-spacing: 0.02em;
  border: 0px;
  margin-top: 2.431vw;
}
.talk_btn > a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-style: normal;
}
.hover-effect {
  transition: all 500ms linear;
}
.hover-effect:hover {
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.4), 1px 0 1px rgba(0, 0, 0, 0.4),
    0 3px 3px rgba(0, 0, 0, 0.4);
}

/* RHS */
.grid-container {
  width: 45%;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
}
@keyframes vertical-marquee {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.scroll-content {
  display: flex;
  flex-direction: column;
  animation: vertical-marquee 20s linear infinite;
  height: auto;
  will-change: transform;
}
.marquee-inner-block {
  gap: 0.694vw;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  display: grid;
}
.marquee-inner-block img {
  height: 100%;
  border-radius: 8px;
}
.left-big-mrq-img img {
  width: 100%;
}
.left-mrg-flex {
  display: flex;
  gap: 0.694vw;
  border-radius: 8px;
  background: #fafafa;
  padding: 0.694vw;
  margin: 0.694vw 0;
}
.small-inner-content-mrq span {
  text-transform: uppercase;
  line-height: 1.25vw;
  text-align: left;
  height: max-content;
  display: inline-block;
  font-weight: 700;
  width: 100%;
  font-size: 15.36px;
  letter-spacing: 0.06rem;
}
.small-inner-content-mrq p {
  font-size: 12.28px;
  text-align: left;
  line-height: 1.25vw;
  font-weight: 450;
}
.right-marquee {
  margin-top: 3.472vw;
}

/* talk-amrquee */
.talk-marquee {
  color: #000;
  font-size: 1.667vw;
  line-height: 4.861vw;
  font-weight: 700;
  text-align: center;
  background: #121212;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 2;
}
.talk-marquee a {
  display: flex;
  gap: 40px;
  text-decoration: none;
  color: white;
}
@keyframes marqueeSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.talk-marquee-text {
  display: inline-flex;
  height: 5.833vw;
  animation: marqueeSlide 20s linear infinite;
}
.marqqq-flex {
  display: inline-flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.mrqq-text {
  font-size: 1.667vw;
  color: #fff;
  font-family: circular std;
  font-weight: 450;
  position: relative;
}
.f_index {
  display: inline-block;
  font-weight: 450;
  font-size: 1.2vw;
  position: absolute;
  left: -20px;
  top: -8px;
}
